*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;';
}

html,body{
	height: 100%;
	background-color: black;
}

.clear{
	clear: both;
}

img{
	position: relative;
	height: 100%;
	width: 100%;
}

.logo{
	position: absolute;
	z-index: 1;
	float: left;
	margin: 40px 110px;
	width: 100px;
	height: 30px;
	background: blue;
}


.midia-social{
    position:absolute;
    right:30px;
    top:140px;
}

.midia-social img{
    display:block;
    width:30px;
    margin:20px 0;
    border-radius: 10px 10px;
    top: 50px;
}

.for-container{
	position: absolute;
	width: 400px;
	height: 105%;
	top: 15%;
	left: 60px;
	padding-top: 0;
	margin: 8px 10px 8px;
}

.for-container h2{
	font-weight: italic;
	font-size: 23px;
	background-color: #033C50;
	text-align: left;
	padding: 20px 40px 0;
	width: 345px;
	height: 80px;
	color: white;
}

.form-container{
	padding: 10px 10px 0;
	width: 405px;
	height: 105px;
	background-color: #033C50;
}

.for-container p{
	color: white;
	text-transform: uppercase;
}

.for-container form input[type=text]{
	height: 40px;
	width: 400px;
	margin-top: 8px;
    border-bottom-color: #ccc;
    border-radius: 10px 10px;
}

.form-container input{
	background: transparent;
	color: white;
}

form input[type=submit]{
	margin-left: 25% ;
	width: 200px;
	height: 40px;
	cursor: pointer;
	box-shadow: 2px 2px 2px #ccc;
	border-bottom-color: #ccc;
	text-transform: uppercase;
	border-radius: 10px 10px ;
}

/*fim do formuário*/




.container-sessao2{
	width: 100%;
}

.container-chamada{
	float: left;
	padding: 140px 0 90px 0;
	margin-top: -2.5%;
	width: 50%;
	color: white;
	background: #033C50;
}

.container-chamada h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.container-chamada2{
	max-width: 600px;
	float: right;
	padding: 0 30px;
}

.container-chamada2 p{
	line-height: 35px;
	font-size: 16px;
	margin-top: 12px;
	color: gray;
}

.container-sessao2 img{
	position: absolute;
	width: 50%;
	height: 400px;
	padding: 140px 0 90px 0;
}

////////////////////////////////////////

.container-sessao3{
	width: 100%;
}

.container-chamada3{
	float: right;
	padding: 140px 0 90px 0;
	margin-top: -2.5%;
	width: 50%;
	color: white;
	background: #033C50;
}

.container-chamada4 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.container-chamada4{
	max-width: 900px;
	float: right;
	padding: 0 30px;
}

.container-chamada4 p{
	line-height: 35px;
	font-size: 16px;
	margin-top: 12px;
	color: gray;
}

.container-sessao3 img{
	position: absolute;
	width: 50%;
	height: 400px;
	padding: 140px 0 90px 0;