*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;';
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.img-fundo{
	width: 100%;
	position: relative;
	height: 800px;
	background-position: center;
	background-size: cover;
	background-image: url('../imagens/fundo2.jpeg');
}

.logo{
	position: absolute;
	float: left;
	margin: 55px 65px;
	width: 100px;
	height: 30px;
	background: blue;
}


.midia-social{
    position:absolute;
    right:30px;
    top:140px;
}

.midia-social img{
    display:block;
    width: 50px;
    margin: 25px 0;
    border-radius: 10px 10px;
    top: 50px;
}

.for-container{
	position: absolute;
	width: 425px;
	height: 78% ;
	top: 18%;
	left: 55px;	
	padding-top: 0;
	margin: 0 8px 8px;
}

.for-container h2{
	font-weight: italic;
	padding-bottom: 0;
	font-size: 23px;
	background-color: #033C50;
	text-align: left;
	padding: 30px 40px 0 30px; 
	width: 355px;
	height: 80px;
	color: white;
}

.form-container{
	padding: 10px 10px 0;
	width: 405px;
	height: 105px;
	background-color: #033C50;
}

.for-container p{
	color: white;
	text-transform: uppercase;
}

.for-container form [type=text]{
	height: 40px;
	width: 400px;
	margin-top: 8px;
    border-bottom-color: #ccc;
    border-radius: 10px 10px;
}

.form-container input{
	background: transparent;
	color: white;
}

form input[type=submit]{
	margin-left: 28% ;
	width: 200px;
	height: 40px;
	cursor: pointer;
	box-shadow: 2px 2px 2px #ccc;
	border-bottom-color: #ccc;
	text-transform: uppercase;
	border-radius: 10px 10px ;
}

/*fim do formuário*/


.container-chamada{
	float: left;
	padding: 90px 0 90px 0;
	height: 600px;
	width: 50%;
	color: white;
	background: #033C50;
}

.container-chamada h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.container-chamada2{
	max-width: 600px;
	float: right;
	padding: 0 30px;
}

.container-chamada2 p{
	line-height: 35px;
	font-size: 16px;
	margin-top: 12px;
	color: gray;
}

.container-sessao2 img{
	position: absolute;
	width: 50%;
	height: 500px;
	padding: 180px 0 90px 0;
}

////////////////////////////////////////

.container-chamada3{
	width: 100%;
}

.container-chamada3{
	float: right;
	padding: 90px 0 90px 0;
	height: 600px;
	width: 50%;
	color: white;
	background: #033C50;
}

.container-chamada4 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.container-chamada4{
	max-width: 900px;
	float: right;
	padding: 0 30px;
}

.container-chamada4 p{
	line-height: 35px;
	font-size: 16px;
	margin-top: 12px;
	color: gray;
}

.container-sessao3 img{
	position: absolute;
	width: 50%;
	height: 500px;
	padding: 180px 0 90px 0;
}

//////////////////////////

footer{
	padding: 20px 0;

}

footer p{
	color: white;
	text-align: center;
	background: #033C50;
}

@media screen and (max-width: 780px){

	.midia-social{
	    position:absolute;
	    right:30px;
	    top:27px;
	}

	.midia-social img{
	    display:inline-block;
	    width:30px;
	    margin:25px 8px 0;
	    border-radius: 10px 10px;
	}

	.for-container{
		height: auto;
		width: auto;
		left: 20px;
	}

	.logo{
		left: -35px;
	}

	.container-chamada{
		position: static;
		height: auto;
		width: 100%;
		align-items: center;
	}


	.container-sessao2 img{
		position: relative;
		height: auto;
		width: 100%;
		align-items: center;
	}

	.container-chamada2 h2 p{
		margin: 10px 0;

	}

	.container-chamada3 {
		position: static;
		height: auto;
		width: 100%;
		align-items: center;
	}


	.container-chamada3 img{
		position: relative;
		height: 100%;
		width: 100%;
		align-items: center;
	}

}
